<%= simple_form_for user, html: { class: 'offset-top-70 text-md-left rd-mailform'} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="cell-md-4">
      <div class="mfInput">
        <%= f.input :first_name, required: true, autofocus: true %>
      </div>
    </div>
    <div class="cell-md-4">
      <div class="mfInput">
        <%= f.input :last_name, required: true, autofocus: true %>
      </div>
    </div>
    <div class="cell-md-4">
      <div class="mfInput">
        <%= f.input :role, collection: User::ROLES, required: true %>
      </div>
    </div>
    <div class="cell-md-4">
      <div class="mfInput">
        <%= f.input :email, required: true, autofocus: true %>
      </div>
    </div>
    <div class="cell-md-4">
      <div class="mfInput">
        <%= f.input :contact_number, required: false, autofocus: true %>
      </div>
    </div>
    <div class="cell-md-4">
      <div class="mfInput">
        <%= f.input :password, required: true, autofocus: true %>
      </div>
    </div>
    <div class="cell-md-4">
      <div class="mfInput">
        <%= f.input :password_confirmation, required: true, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
