<div class="cell-md-4">
  <div class="mfInput">
    <%= f.input :first_name, required: true, autofocus: true %>
  </div>
</div>
<div class="cell-md-4">
  <div class="mfInput">
    <%= f.input :last_name, required: true, autofocus: true %>
  </div>
</div>
<div class="cell-md-4">
  <div class="mfInput">
    <%= f.input :email, required: true, autofocus: true %>
  </div>
</div>
<div class="cell-md-4">
  <div class="mfInput">
    <%= f.input :contact_number, required: false, autofocus: true %>
  </div>
</div>
<div class="cell-md-4">
  <div class="mfInput">
    <%= f.input :password, required: true, autofocus: true %>
  </div>
</div>
<div class="cell-md-4">
  <div class="mfInput">
    <%= f.input :password_confirmation, required: true, autofocus: true %>
  </div>
</div>