<%= simple_form_for(property) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :home_type %>
    <%= f.input :bedrooms %>
    <%= f.input :sleeps %>
    <%= f.input :frequency %>
    <%= f.input :recreational_type %>
    <%= f.association :peak_seasons, as: :check_boxes, input_html: { multiple: true } %>
    <%= f.fields_for :property_externals, f.object.property_externals.vrbo.first_or_initialize do |ef| %>
      <%= ef.hidden_field :entity %>
      <%= ef.input :external_id, label: 'VRBO.com ID' %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :button, class: 'btn-primary'  %>
  </div>
  </br>
<% end %>
