<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li><a href="./">Home</a></li>
    <li class="active">My Properties</li>
  </ol>
<% end %>

<div class="shell user-form">
  <h4 class="offset-top-80 heading-divider text-left text-nowrap user-title-form">My Properties</h4>

  <table class="table table-bordered table-responsive index-property">
    <thead>
      <tr>
        <th>Name</th>
        <th>Frequency</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.name %></td>
          <td><%= property.frequency %></td>
          <td><%= link_to 'Show', property %></td>
          <td><%= link_to 'Edit', edit_property_path(property) %></td>
          <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Property', new_property_path, class: 'btn btn-primary' %>
</div>
