<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><%= link_to 'My Properties', properties_path %></li>
    <li class="active"><%= @property.name %></li>
  </ol>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

</p>

<p>
  <strong>Frequency:</strong>
  <%= @property.frequency %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
