<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @property.user.full_name %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @property.frequency %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
